#heading{
    height: 123px;
    width: 411px;
    left: 81px;
    opacity: 40%;
    line-height: 122.56px;
    font-family: frederica the great;
    font-size: 60px;
    /* mix-blend-mode: hard-light; */
    margin-left: 30px;
    color: #F3F4F4;
}
#sheading{
    height: 61px;
    width: 260px;
    left: 81px;
    line-height: 61.2px;
    opacity: 40%;
    font-family: frederica the great;
    font-size: 40px;
    /* mix-blend-mode: hard-light; */
    margin-left: 30px;
    color: #E10D45;
}


pre{
    color: #F3F4F4;
    font-size: 17px;
    
}

img{
    
    margin-left: 25px;

}



    